<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829140211747-4dme59dodsk66bm5kf7edjk0jf5b19f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829140211747-4dme59dodsk66bm5kf7edjk0jf5b19f6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>829140211747-d66csvo8igo929l0cp6r5d8t4no1nck9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALMnc4m6SA6XuBTRz86DfqTP1gUeMHI8A</string>
	<key>GCM_SENDER_ID</key>
	<string>829140211747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.travelPlanner</string>
	<key>PROJECT_ID</key>
	<string>planmyscottrip</string>
	<key>STORAGE_BUCKET</key>
	<string>planmyscottrip.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829140211747:ios:3a438a787f10ee105f3996</string>
</dict>
</plist>